* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    font-family: 'Anton', sans-serif;
}

h1 {
    color: gray;
    text-align: center;
    padding: 1rem;
}