*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family:'Anton', sans-serif;
      /* background: linear-gradient(45deg, rgb(0, 0, 0), rgb(29, 0, 0)); */
}