
.container__sobre__mi{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas: 
        'titulo titulo'
        'descripcion descripcion' 
        'redes redes'
        'formulario formulario';
    grid-template-rows: 5% auto 10% auto;
    color: rgba(204, 200, 197, 0.774);
    text-align: justify;
    padding: 0 1rem;
}
.sobre__mi_h1{
    grid-area: titulo;
    padding: 10px;
}
.sobre__mi{
    grid-area: descripcion;
    background-color: rgba(37, 37, 37, 0.295);
    border-radius: 20px;
    padding: 1rem; 
    height: auto;
    text-transform: uppercase;
}

/* botones pulsantes */

.container{
    grid-area: redes;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.pulsante{
    height: 50px;
    width: 50px;
    border-radius:50%;
    animation: pulsante 1.5s infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}
.color:nth-child(1){
    background-color: rgb(42, 42, 44);
    animation: pulsante-git 1.5s infinite;
}
.color:nth-child(2){
    background-color: rgb(5, 46, 65);
    animation: pulsante-linkedin 1.5s infinite;    
}
/* .color:nth-child(4){
    background-color: rgb(255, 0, 166);
    animation: pulsante-instagram 1.5s infinite;
}
.color:nth-child(5){
    background-color: rgb(0, 156, 23);
    animation: pulsante-whatsup 1.5s infinite;    
} */
.color:nth-child(3){
    background-color: rgb(255, 0, 0);
    animation: pulsante-youtube 1.5s infinite;    
}


.logo{
    width: 30px;
    height: 30px;
}
.logo-git{
    width: 40px;
    height: 40px;
}
.logo-instagram{
    width: 30px;
    height: 30px;
}
.logo-whatsup{
    width: 30px;
    height: 30px;
}
.logo-linkedin{
    width: 30px;
    height: 30px;
}
.logo-youtube{
    width: 30px;
    height: 30px;
}




@keyframes pulsante-face{
    0%{
        box-shadow: rgb(15, 15, 255) 0 0 0 0 ;
    }
    100%{
        box-shadow: rgba(15, 15, 255, 0) 0 0 0 16px;
    }
}
@keyframes pulsante-git{
    0%{
        box-shadow: rgb(42, 42, 44) 0 0 0 0;
    }
    100%{
        box-shadow: rgba(15, 15, 255, 0) 0 0 0 16px;
    }
}
@keyframes pulsante-linkedin{
    0%{
        box-shadow: rgb(5, 46, 65)  0 0 0 0;
    }
    100%{
        box-shadow: rgba(5, 46, 65, 0) 0 0 0 16px;
    }
}
@keyframes pulsante-instagram{
    0%{
        box-shadow: rgb(255, 0, 166) 0 0 0 0;
    }
    100%{
        box-shadow: rgba(15, 15, 255, 0) 0 0 0 16px;
    }
}
@keyframes pulsante-whatsup{
    0%{
        box-shadow: rgb(0, 156, 23) 0 0 0 0;
    }
    100%{
        box-shadow: rgba(15, 15, 255, 0) 0 0 0 16px;
    }
}
@keyframes pulsante-youtube{
    0%{
        box-shadow: rgb(255, 2, 2) 0 0 0 0;
    }
    100%{
        box-shadow: rgba(255, 0, 0, 0) 0 0 0 16px;
    }    
}

.formulario{
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: rgb(47, 81, 107);
    border-radius: 10px;
    font-family: initial;   
}

.form__container{
    width: 100%;
    height: auto;
}

form p{  
    margin: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
p input, textarea, button{
    width: 100%;
    height:30px;
    border-radius: 10px;
    border-style: none;
    border: solid rgb(243, 241, 245);
    border-width: 2px;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    color: white;
    outline: none;
}
::placeholder{
    color: rgba(255, 255, 255, 0.63);
}
p textarea{
    height: 70px;
}
button{
    height: 30px;
    width: 80px;
    padding: 0;
}

/* COMPUTADORA */

@media (min-width: 1024px){
    #section_sobre_mi{
    height: 100vh;
    margin: 10px 0;
    }
    .container__sobre__mi{
        grid-template-areas: 
        'titulo titulo'
        'descripcion formulario' 
        'descripcion redes';
        grid-template-columns: 60% auto;
        grid-template-rows: auto auto 15% ;
        
    }
    .sobre__mi{
        width: 95%; 
        height: 95%;
        margin: 0 auto;
        font-size: 25px;
    }

    .formulario{
        width: 95%;
        height: fit-content;
        margin: 0;

    }
    .form__container{
       display: flex;
       flex-wrap: wrap;
       
    }
    .nombre__email, .telefono__asunto{
        width: 50%;
    }
    .asunto{
        width: 100%;
        margin: 0 10px;
    }
    .boton__enviar{
        width: 100%;
    }
    .campos__oblicatorios{
        margin: 0 auto;
    }
    form p{  
        margin: 38px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .aviso{
        margin: 0;
    }
    .container{
        align-items: initial;
    }
    
}

