
.container__sobre__mi{
    width: 100%;
    height: 100vh;
    color: rgba(204, 200, 197, 0.774);
    text-align: justify;
    padding: 1rem 2rem;
    
} 
.sobre__mi{
    background-color: rgba(37, 37, 37, 0.295);
    border-radius: 20px;
    padding: 1rem;
    font-family: 'Antonio', sans-serif;
}

@media (min-width: 1024px){
    .container__sobre__mi{
        /* margin-top: 10rem; */
    }
    .sobre__mi{
        height: 300px;
    }
    
}