.container__skills{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.logo-skills{
    width: 150px;
    height: 150px;
}
.correcion{
    width: 185px;
    height: 142px;
}