.tamaño{
    padding: 1rem 2rem;
    height: 100vh;
}
.container__skills{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo-skills{
    width: 150px;
    height: 150px;
    margin: 2rem 0;
    border: solid white;
    border-radius: 10px;
    padding: 1rem;
}
.correcion{
    padding: 1rem 0;
}