.containaer__ecabezado{
    width: 100%;
    height: 100vh;
}
.mi__foto__container{
    width: 100%; 
} 
.img__vitaly{
    width:100%;
    border-radius:50%;
}
.container-nombre{
    color:rgba(0, 0, 0, 0);
    font-family:'Anton', sans-serif;
    letter-spacing: 0.7rem;
    text-align: center;
    width: 100vw;
    margin-top: -9rem;
    -webkit-text-stroke: 0.3vw gray;
    text-transform: uppercase;    
}
h1{
    color: gray;
    text-align: center;
    margin: 2rem 0;

}
.saludo{
   letter-spacing: 0.9rem;
   -webkit-text-stroke: 0;
   color: gray;
}
.nombre{
    font-size: 6rem;
    letter-spacing: 1.7rem;
}
.nombre-apellido-paterno{
    font-size: 4rem;
    letter-spacing: 1.5rem;
    margin-top: -0.5em;  
}
.nombre-apellido-titulo{
    letter-spacing: 1rem;
    color: gray;
    -webkit-text-stroke: 0;
}
.container__sobre__mi{
    width: 100%;
    height: 100vh;
    color: rgba(204, 200, 197, 0.774);
    text-align: justify;
    padding: 0 10px;
} 
.sobre__mi{
    background-color: rgba(37, 37, 37, 0.295);
    border-radius: 20px;
    padding: 1rem;
    font-family: 'Antonio', sans-serif;
}
